*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;

}

input {
    padding: 10px;
}

span {
    font-size: 3vh;
}

#namePlace {
    font-size: 3vh;
    font-weight: 700;
}

button {
    background-color: rgb(6, 223, 6);
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-radius: 50px;
    margin: 5%;

}

#namePlace {
    padding: .5vh;
    text-align: center;
    margin: auto;
}

.screenArea {
    position: relative;
    border: 1px solid black;
    justify-content: center;
    width: 75%;
    height: 60vh;
    margin: auto;

}

#actionArea {
    display: flex;
    position: absolute;
    bottom: 7vh;
    left: 22vw;
    margin: auto;
    width: 30vw;
    border: 1px solid black;
    justify-content: center;
    align-items: center;

}

#actionFrame {
    position: absolute;
    border: 2px solid green;
    width:40vw;
    height: 30vh;
    top: 11vh;
    left: 17vw;
    padding-top: 3vh;
}