* {
    
    text-align: left;

}

p {
    font-size: 16px;
    margin-left: 10vw;
    margin-right: 5vw;
}

h3 {
    font-size: 28.8px;
    margin-left: 10vw;
}

.header {
    height: 24vh;
    width: 100%;
    background-image: url("http://csszengarden.com/214/contours-opaque.png");
    background-color: rgb(94, 139, 94);
}

.sect1 {
    height: 50vh;
}

.sect2 {
    background-color: rgba(118, 177, 118, 0.541);
    background-image: url("http://csszengarden.com/214/bamboo.png");
}