* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.countdownTimer {
    width: 10vw;
    height: 10vw;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    
}

#timer  {
    font-size: 70px;
    font-weight: 700;

}

.clickCount {
    width: 10vw;
    height: 10vw;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    margin-top: 2vw;
}

#clickCounter  {
    font-size: 70px;
    font-weight: 700;

}