

.codeBox{
  display: flex;
  border: 1px solid #3c3c3c;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, .2) 0px -1px 7px 1px;
  width: 75%;
}

.colorGradient {
  width:  55%;
  height: 35vh;
  margin-left: 2em;
  border:  1px solid #3c3c3c;
  border-radius: 15px;
  

}

.codeLeft {
  width: 75%;
}

.codeRight {
  display: flex;
  flex-direction: column;
  width: 30%
}

.code {
  width:  95%;
  height: 95%;
  margin-left: auto;
  margin-right: auto;
  

}