



.codeBox{
    border: 1px solid #3c3c3c;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, .2) 0px -1px 7px 1px;
    height: 35vh;
}

.colorGradient {
    width:  95%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    background: linear-gradient(90deg, #FFFFFF, #3c3c3c);
    

}

.code {
    width:  95%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;

}

textarea {
    width: 50vw;
    height: 15vh;
    overflow: auto;
}